@import '../../assets/scss/variables';

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left,
.right {
  position: relative;
  flex-basis: 50%;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f8ff;
}

.goBackLink {
  position: absolute;
  top: 50px;
  left: 30px;
  display: flex;
  align-items: center;
  font-size: $fs-xs;
  color: $color-text;

  svg {
    margin-right: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

.logoPng {
  width: 25px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 20px;
  font-size: $fs-l;
  font-weight: 600;
  text-align: center;
}

.description {
  margin-bottom: 25px;
  color: $color-text;
  font-size: $fs-s;
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 12px;
  font-size: $fs-2xs;
  font-weight: 500;
}

.tooltip {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: $color-input;

  svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.passwordRecoveryImg {
  width: 500px;
  margin-bottom: 25px;
}

.heading {
  max-width: 600px;
  margin-bottom: 10px;
  font-size: $fs-xl;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #1f235b;
}

.desc {
  max-width: 600px;
  font-size: $fs-m;
  font-weight: 500;
  color: $color-text;
  text-align: center;
}
