// / Fonts

// Montserrat
$text-font: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;

// / Colors
$color-white: #fff;
$color-black: #000;
$color-main: #1890ff;
$color-text: #adb0b6;
$color-inputbg: #f8f8f8;
$color-input: #6c7e8f;
$color-error: #ff3333;

/// Font sizes
$fs-3xs: 10px;
$fs-2xs: 12px;
$fs-xs: 14px;
$fs-s: 16px;
$fs-m: 18px;
$fs-l: 20px;
$fs-x: 22px;
$fs-xl: 28px;
$fs-2xl: 32px;
$fs-3xl: 40px;
$fs-4xl: 48px;
$fs-5xl: 56px;
